/*------------- Edit -------------*/
#formEdit > div > input{
    width: 18vw;
}  
#contenedorCardEdit{
    display: flex;
    align-items: center;
}
#contenedorCardEdit > .card{
    width: 20vw;
    height: 450px;
}
#contenedorCardEdit > .card > .card-body{
    padding-top: 5vh;
}
#contenedorCardEdit > .card .card-img-top-custom{
    height: 170px!important;
}
#contenedorBtnVolverEdit{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 4vw;
}