/*------------- Home -------------*/
#containerCardsHome{
  height: 600px;
}
.card, .card-body{
  overflow-y: hidden;
}
#containerCardsHome > .card{
  width: 23vw;
  height: 600px;
}
#containerCardsHome .card-body{
  padding: 12px;
}
.card-img-container{
  display: inline-block;
  overflow: hidden;
}
.card-img-container > img{
  display: block;
  transition: all .45s;
  width: 23vw;
  height: 300px;
}
.card-img-container > img:hover{
  transform: scale(1.10);
}
#botonTarjetas{
  background-color: #005bb1;
  color: white;
  font-weight: 500;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 4px;
}
#botonTarjetas:hover{
  background-color: #1f71be!important;
}
.text-blue{
  color: #005bb1;
  font-size: 17px;
}