/*------------- SECCION RESPONSIVE - MEDIA QUERIES -------------*/
/* ---------------- HOME.JSX ---------------- */
@media screen and (max-width:1438px){
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 25vw;
  }
}
@media screen and (max-width:1330px){
  #containerCardsHome{
    gap: 20px!important;
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 28vw;
  }
}
@media screen and (max-width:1250px){
  .carousel-item{
    height: 400px;
  }
  .text-header, .text-header2 {
    bottom: 120px;
  }
  #botonTarjetas{
    padding: 12px!important;
  }
}
@media screen and (max-width:1198px){
  #containerCardsHome .card-title{
    font-size: 24px!important;
  }
}
@media screen and (max-width:1120px){
  .text-header, .text-header2 {
    left: 55px;
  }
  #containerCardsHome .card{
    height: 550px;
  }
  #containerCardsHome .card-img-container > img{
    height: 250px;
  }
}
@media screen and (max-width:1080px){
  .text-header, .text-header2{
    transform: translateX(-50%);
  }
  .text-header{
    bottom: 170px;
  }
  .text-header2 {
    bottom: 40px;
  }
  #containerCardsHome{
    flex-wrap: wrap;
    width: 70%;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  .logos-tecnologias{
    width: 70px;
    height: 70px;
  }
  .logo-extrawidth{
    width: 160px;
  }
  #containerCardsHome .card{
    height: 570px;
  }
}
@media screen and (max-width:991px) {
  #contenedorLogoReactNavbar{
    position: absolute;
    left: 50%;
    top: 20px;
  }
  .navbar-toggler{
    display: none;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .carousel-item{
    margin-top: 100px;
  }
  #containerNavButtons{
    display: flex;
    justify-content: center;
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 32vw;
  }
}
@media screen and (max-width:860px){
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 35vw;
  }
  #containerCardsHome{
      width: 80%;
  }
  #containerCardsHome .card{
    height: 500px;
  }
  #containerCardsHome .card-body > h3{
    font-size: 18px!important;
  }
  #containerCardsHome .card-body:nth-child(2){
    font-size: 14px!important;
  }
}
@media screen and (max-width:790px){
  #containerCardsHome{
    width: 100%;
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 38vw;
  }
  #containerInfoAcercaDeText{
    padding-top: 50px;
  }
  #containerInfoAcercaDeText:nth-child(1){
    font-size: 14px;
  }
}
@media screen and (max-width:730px){
  .text-header, .text-header2{
    font-size: 55px;
  }
  .text-header{
    bottom: 200px;
  }
  .text-header2 {
    bottom: 95px;
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 40vw;
  }
  #collapseInfoAcercaDe h4{
    font-size: 20px;
  }
  #contenedorTecnologiasUsadas{
    margin-top: 20px;
  }
}
@media screen and (max-width:635px){
  .text-header, .text-header2{
    transform: translateX(-52%);
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 45vw;
  }
  #collapseInfoAcercaDe h4{
    font-size: 18px;
  }
  #containerInfoAcercaDeText:nth-child(1){
    font-size: 13px;
  }
  .logos-tecnologias{
    width: 60px;
    height: 60px;
  }
  .logo-extrawidth{
    width: 140px;
  }
}
@media screen and (max-width:571px){
  .text-header, .text-header2{
    font-size: 50px;
  }
  .text-header, .text-header2{
    transform: translateX(-54%);
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 55vw;
  }
  .logos-tecnologias{
    width: 50px;
    height: 50px;
  }
  .logo-extrawidth{
    width: 130px;
  }
}
@media screen and (max-width:530px){
  .text-header, .text-header2{
    transform: translateX(-56%);
  }
  #contenedorTecnologiasUsadas,
  #collapseInfoAcercaDe h4{
    width: 170px;
  }
  #containerInfoAcercaDeText{
    padding-top: 30px;
  }
}
@media screen and (max-width:492px){
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 60vw;
  }
}
@media screen and (max-width:470px){
  #contenedorTecnologiasUsadas,
  #collapseInfoAcercaDe h4{
    width: 150px;
  }
  .txtFooterCaC{
    font-size: 14px!important;
  }
}
@media screen and (max-width:420px){
  .text-header, .text-header2{
    font-size: 40px;
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 65vw;
  }
  #contenedorTecnologiasUsadas,
  #collapseInfoAcercaDe h4{
    width: 130px;
  }
  #contenedorTecnologiasUsadas{
    height: 325px;
  }
  #collapseInfoAcercaDe{
    height: 425px;
  }
  footer{
    height: max-content;
  }
  #contenedorFooter{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width:400px){
  .text-header, .text-header2{
    transform: translateX(-58%);
    .wrapper {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 70vw;
  }
  #containerCardsHome .card-body > .card-text{
    font-size: 13px;
  }
  .logos-tecnologias{
    width: 40px;
    height: 40px;
  }
  .logo-extrawidth{
    width: 120px;
  }
}
@media screen and (max-width:370px){
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 80vw;
  }
  #collapseInfoAcercaDe .col-8,
  #collapseInfoAcercaDe .col-4{
    padding-left: 15vw;
    width: 100%;
  }
  #collapseInfoAcercaDe .col-4{
    margin-top: 60px;
  }
  #contenedorTecnologiasUsadas,
  #collapseInfoAcercaDe h4{
    width: 100%;
  }
  .logo-extrawidth{
    width: 90px;
  }
  #collapseInfoAcercaDe{
    height: 750px;
  }
  .logos-tecnologias{
    width: 70px;
    height: 70px;
  }
  .logo-extrawidth{
    width: 150px;
  }
}
@media screen and (max-width:345px){
  .text-header, .text-header2{
    transform: translateX(-60%);
    .wrapper {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
}
@media screen and (max-width:320px){
  #containerCardsHome .card,
  #containerCardsHome .card-img-container > img{
    width: 90vw;
  }
  #collapseInfoAcercaDe .col-4{
    margin-top: 100px;
  }
  #collapseInfoAcercaDe{
    height: 800px;
  }
}
@media screen and (max-width:300px){
  .text-header, .text-header2{
    transform: translateX(-63%);
    .wrapper {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  #collapseInfoAcercaDe .col-4{
    margin-top: 130px;
  }
  #collapseInfoAcercaDe{
    height: 830px;
  }
}
/* ---------------- SHOW.JSX ---------------- */
@media screen and (max-width:1490px) {
  #contenedorCards .card-size{
    width: 20vw;
  }
}
@media screen and (max-width:1335px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 22vw;
  }
}
@media screen and (max-width:1280px) {
  #wrapperControlsCards{
    height: 1450px;
  }
  #containerControlsCards{
    height: 350px;
  }
}
@media (max-width:1280px) and (min-height:800px){
  #wrapperControlsCards{
    height: 1550px;
  }
}
@media screen and (max-width:1240px) {
  #colControlCards,
  #contenedorPaginacionRelleno{
    width: 40%;
  }
  #contenedorCards,
  #contenedorPaginacion{
    width: 60%;
  }
}
@media screen and (max-width:1210px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 27vw;
  }
}
@media (max-width:1050px) and (min-height:600px){
  #wrapperControlsCards{
    height: 2600px;
  }
}
@media screen and (max-width:990px) {
  #colControlCards,
  #contenedorPaginacionRelleno{
    width: 100%;
  }
  #contenedorCards,
  #contenedorPaginacion{
    margin-left: 3vw;
    width: 100%;
  }
  #containerControlsCards{
    position: initial;
  }
  #wrapperControlsCards{
    height: 400px;
  }
  #containerControlsCards{
    width: 50vw;
    margin-left: 25vw;
  }
  #containerControlsCards > *{
    width: 30vw;
  }
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 30vw;
  }
}
@media screen and (max-width:890px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 36vw;
  }
  #containerControlsCards > *{
    width: 35vw;
  }
}
@media screen and (max-width:768px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 40vw;
  }
}
@media screen and (max-width:670px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 45vw;
  }
}
@media screen and (max-width:605px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 55vw;
  }
  #contenedorCards,
  #contenedorPaginacion{
    margin-left: 5vw;
  }
}
@media screen and (max-width:550px) {
  #containerControlsCards{
    width: 65vw;
    margin-left: 15vw;
  }
  #containerControlsCards > *{
    width: 45vw;
  }
}
@media screen and (max-width:505px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom{
    width: 65vw;
  }
  #contenedorCards,
  #contenedorPaginacion{
    margin-left: 4vw;
  }
  #contenedorPaginacion{
    gap: 4vw;
  }
}
@media screen and (max-width:430px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom,
  #containerControlsCards{
    width: 75vw;
  }
  #containerControlsCards{
    margin-left: 11vw;
  }
  #containerControlsCards > *{
    width: 60vw;
  }
  #contenedorPaginacion{
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-left: 26vw;
  }
}
@media screen and (max-width:360px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom,
  #containerControlsCards{
    width: 90vw;
  }
  #containerControlsCards{
    margin-left: 5vw;
  }
  #containerControlsCards > *{
    width: 70vw;
  }
  #contenedorCards{
    margin-left: 6vw;
  }
  #contenedorPaginacion{
    margin-left: 20vw;
    width: 70%;
  }
}
@media screen and (max-width:300px) {
  #contenedorCards .card-size,
  #contenedorCards .card-img-top-custom,
  #containerControlsCards{
    width: 95vw;
  }
  #containerControlsCards{
    margin-left: 2.5vw;
  }
  #contenedorCards{
    margin-left: 7vw;
  }
}
/* ---------------- EQUIP.JSX ---------------- */
@media screen and (max-width:1240px) {
  #colBtnVolverRelleno{
    width: 0%;
  }
  #colBtnVolver{
    width: 100%;
    padding-left: 38vw;
  }
}
@media screen and (max-width:990px) {
  #colBtnVolver{
    padding-left: 7vw;
  }
}
@media screen and (max-width:605px) {
  #colBtnVolver{
    padding-left: 11vw;
  }
  #contenedorNoEncontrado > p{
    text-align: center;
  }
}
@media screen and (max-width:430px) {
  #colBtnVolver{
    padding-left: 7vw;
  }
}
@media screen and (max-width:360px) {
  #colBtnVolver{
    padding-left: 15vw;
  }
}
/* ---------------- CREATE.JSX ---------------- */
@media screen and (max-width:670px){
  #colFormularioCrear{
    margin-left: 0px!important;
  }
}
@media screen and (max-width:500px){
  #formularioCrear{
    width: 78vw;
  }
}
@media screen and (max-width:460px){
  #formularioCrear{
    width: 70vw;
  }
}
@media screen and (max-width:365px){
  #contenedorForm{
    padding: 0!important;
  }
  #formularioCrear{
    width: 90vw;
    padding-left: 2.5vw;  
    padding-right: 2.5vw;
    padding-bottom: 20px;
  }
  #contenedorInputsLabels .col-8 .form-control{
    width: 200px;
  }
}
@media screen and (max-width:340px){
  #contenedorInputsLabels .col-8 .form-control{
    width: 170px;
  }
}
@media screen and (max-width:315px){
  #contenedorInputsLabels .col-4{
    gap: 25px!important;
  }
  #contenedorInputsLabels .col-4 .form-label{
    font-size: 14px;
  }
}
@media screen and (max-width:300px){
  #contenedorInputsLabels .col-8 .form-control{
    width: 155px;
  }
  #contenedorInputsLabels .col-4 .form-label{
    font-size: 13px;
  }
  #contenedorInputsLabels .col-4{
    gap: 28px!important;
  }
}

/* ---------------- EDIT.JSX ---------------- */
@media screen and (max-width:1335px) {
  #contenedorCardEdit .card{
    width: 25vw;
  }
}
@media screen and (max-width:1070px) {
  #contenedorCardEdit .card{
    width: 30vw;
  }
}
@media screen and (max-width:900px) {
  #colFormularioEdit,
  #colCardEdit{
    flex: 0 0 auto;
    width: 100%;
    margin-left: 5vw;
  }
  #contenedorCardEdit .card{
    width: 34vw;
  }
}
@media screen and (max-width:790px) {
  #contenedorCardEdit .card{
    width: 40vw;
  }
}
@media screen and (max-width:670px) {
  #contenedorCardEdit .card{
    width: 50vw;
  }
}
@media screen and (max-width:540px) {
  #contenedorCardEdit .card{
    width: 60vw;
  }
}
@media screen and (max-width:450px) {
  #contenedorCardEdit .card{
    width: 70vw;
  }
}
@media screen and (max-width:390px) {
  #contenedorCardEdit .card{
    width: 80vw;
  }
}
@media screen and (max-width:370px) {
  #formEdit{
    width: 90vw;
    padding-left: 2.5vw;  
    padding-right: 2.5vw;
    padding-bottom: 20px;
  }
  #contenedorInputsLabelsEdit .col-8 .form-control{
    width: 200px;
  }
}
@media screen and (max-width:340px) {
  #contenedorCardEdit .card{
    width: 90vw;
  }
  #contenedorInputsLabelsEdit .col-8 .form-control{
    width: 170px;
  }
  #contenedorInputsLabelsEdit .col-4 .form-label{
    font-size: 14px;
  }
  #contenedorInputsLabelsEdit .col-4{
    gap: 26px!important;
  }
}
@media screen and (max-width:300px){
  #contenedorCardEdit .card{
    width: 94vw;
  }
  #contenedorInputsLabelsEdit .col-8 .form-control{
    width: 150px;
  }
}
@media screen and (max-width:290px){
  #contenedorCardEdit .card{
    height: 480px;
  }
}