/* ---------------- Específicas ---------------- */
@media (height:667px) and (width:375px){
    /* Home.jsx */
    #containerCardsHome > .card{
      height: 65vh;
    }
    #containerCardsHome > .card .card-img-top{
      height: 25vh;
    }
    #collapseInfoAcercaDe{
      height: 73vh;
    }
    #contenedorTecnologiasUsadas{
      width: 28vw;
      height: 61vh;
    }
    #collapseInfoAcercaDe h4{
      margin-left: 8px;
      font-size: 14px!important;
      text-align: center;
      font-weight: 500!important;
    }
    .logos-tecnologias{
      width: 55px;
      height: 55px;
    }
    .logo-extrawidth{
      width: 95px;
      height: 50px;
    }
  
    /* Show.jsx */
    #containerControlsCards{
      height: 47vh!important;
    }
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorCards > .card{
      height: 61vh!important;
    }
    .card-img-top-custom{
      width: 46vw!important;
      height: 25vh!important;
    }
    #contenedorBtnVolver{
      margin-right: 15vw;
    }
    /* Create.jsx */
    #contenedorBtnVolverCreate{
      margin-bottom: 5vh;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      height: 67vh!important;
    }
}
@media (height:896px) and (width:414px){
    /* Home.jsx */
    #contenedorLogoReactNavbar{
      top: 1.9vh;
      left: 44vw;
    }
    #contenedorTecnologiasUsadas{
      height: 45vh;
    }
    #collapseInfoAcercaDe{
      height: 55vh;
    }
    /* Show.jsx */
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorCards > .card .card-img-top-custom{
      width: 48vw!important;
      height: 23vh!important;
    }
    #contenedorBtnVolver{
      margin-right: 15vw;
    }
}
@media (height:844px) and (width:390px){
    /* Home.jsx */
    #contenedorLogoReactNavbar{
      top: 1.9vh;
      left: 44vw;
    }
    #contenedorTecnologiasUsadas{
      height: 45vh;
    }
    #collapseInfoAcercaDe{
      height: 55vh;
    }
    /* Show.jsx */
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorBtnVolver{
      margin-right: 17vw;
    }
}
@media (height:851px) and (width:393px){
    /* Home.jsx */
    #contenedorLogoReactNavbar{
      top: 1.9vh;
      left: 44vw;
    }
    #contenedorTecnologiasUsadas{
      height: 45vh;
    }
    #collapseInfoAcercaDe{
      height: 55vh;
    }
    /* Show.jsx */
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorBtnVolver{
      margin-right: 17vw;
    }
}
@media (height:740px) and (width:360px){
    /* Home.jsx */
    #containerCardsHome > .card{
      width: 75vw;
      height: 65vh;
    }
    #containerCardsHome > .card .card-img-top{
      width: 74.5vw;
      height: 29vh;
    }
    /* Show.jsx */
    #containerControlsCards{
      height: 44vh!important;
    }
    #contenedorCards > .card{
      height: 58vh!important;
    }
    #contenedorCards > .card .card-img-top-custom{
      width: 48vw!important;
      height: 22vh!important;
    }
    #contenedorPaginacion > .btn{
      height: 7vh;
    }
    #contenedorPaginacion > p{
      text-align: center;
    }
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorBtnVolver{
      margin-right: 17vw;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      width: 75vw!important;
      height: 62vh!important;
    }
    #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
      width: 55vw!important;
    }
}
@media (height:915px) and (width:412px){
    /* Home.jsx */
    #contenedorLogoReactNavbar{
      top: 1.9vh;
      left: 44vw;
    }
    #containerCardsHome > .card{
      height: 54vh;
    }
    #contenedorTecnologiasUsadas{
      height: 40vh;
    }
    #collapseInfoAcercaDe{
      height: 50vh;
    }
    /* Show.jsx */
    #contenedorCards > .card{
      height: 46vh!important;
    }
    .card-img-top-custom{
      width: 45vw!important;
    }
    #contenedorCards{
      margin-top: 2vh;
      gap: 15px!important;
    }
    #contenedorBtnVolver{
      margin-right: 16vw;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      width: 75vw!important;
      height: 52vh!important;
    }
    #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
      width: 55vw!important;
      height: auto!important;
    }
}
@media (height:1180px) and (width:820px){
    footer{
      height: 6vh;
    }
    /* Home.jsx */
    .navbar > .container-fluid{
      margin-left: 1rem!important;
    }
    #contenedorLogoReactNavbar{
      position: absolute;
      top: 1.6vh;
      left: 48vw;
    }
    #contenedorLogoReactNavbar > img{
      margin-right: 0px!important;
    }
    .show{
      display: flex;
      justify-content: center;
    }
    #containerCardsHome > .card h3{
      font-size: 19px!important;
    }
    #containerCardsHome > .card .card-text{
      font-size: 14px!important;
    }
    #containerCardsHome > .card{
      height: 45vh;
    }
    #containerCardsHome{
      gap: 0.5vw!important;
    }
    #containerCardsHome > .card .card-img-top{
      width: 14.2rem;
      height: 13rem;
    }
    #botonTarjetas{
      padding-left: 5.7vw;
    }
    #containerInfoAcercaDeText{
      padding-top: 6vh;
    }
    #contenedorTecnologiasUsadas{
      height: 36vh;
    }
    #contenedorTecnologiasUsadas{
      height: 25vh;
    }
    #collapseInfoAcercaDe{
      height: 32vh;
    }
    /* Show.jsx */
    #containerControlsCards{
      height: 30vh!important;
    }
    #wrapperControlsCards{
      height: 260vh!important;
    }
    #contenedorCards > .card{
      width: 29vw;
      height: 43vh!important;
    }
    .card-img-top-custom{
      width: 20vw!important;
      height: 18vh!important;
    }
    #contenedorPaginacion > p{
      text-align: center;
    }
    /* Equip.jsx */
    #containerControlsCards{
      width: 30vw;
    }
    .width-95 > .col-3{
      width: 35%;
    }
    #colBtnVolver{
      width: 100%;
      margin-left: 10vw;
    }
    #contenedorBtnVolver{
      padding-left: 11.7vw;
    }
}
@media (height:1024px) and (width:768px){
    /* Home.jsx */
    .text-header, .text-header2{
      left: 8vw;
    }
    .header-text > p{
      position: absolute;
      width: max-content;
      bottom: 15vh;
      left: 13vw;
    }
    #containerCardsHome > .card{
      height: 45vh;
    }
    #containerCardsHome > .card .card-img-top{
      width: 30vw;
      height: 17vh;
    }
    #contenedorTecnologiasUsadas{
      height: 27vh;
    }
    #collapseInfoAcercaDe{
      height: 35vh;
    }
    /* Show.jsx */
    #containerControlsCards{
      height: 34vh!important;
    }
    #wrapperControlsCards{
      height: 540vh!important;
    }
    #contenedorCards > .card{
      width: 42vw;
      height: 45vh!important;
    }
    .card-img-top-custom{
      width: 26vw!important;
      height: 20vh!important;
    }
    /* Equip.jsx */
    .width-95 > .col-3{
      width: 40%;
    }
    #colBtnVolver{
      width: 100%;
      margin-left: 12.5vw;
    }
    #contenedorBtnVolver{
      padding-left: 11.7vw;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      height: 47vh;
    }
    #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
      height: 20vh!important;
    }
}
@media (height:1368px) and (width:912px){
    footer{
      height: 5vh;
    }
    /* Home.jsx */
    .text-header,.text-header2{
        font-size: 5em!important;
    }
    .navbar > .container-fluid{
      margin-left: 1rem!important;
    }
    #contenedorLogoReactNavbar{
      position: absolute;
      top: 1.6vh;
      left: 48vw;
    }
    #contenedorLogoReactNavbar > img{
      margin-right: 0px!important;
    }
    .show{
      display: flex;
      justify-content: center;
    }
    #containerCardsHome > .card{
      height: 40vh;
    }
    #containerCardsHome > .card .card-img-top{
      width: 24.2vw;
      height: 15vh;
    }
    #contenedorAcercaDe{
      height: 5vh;
    }
    #containerInfoAcercaDeText{
      padding-top: 5vh;
    }
    #containerInfoAcercaDeText, #contenedorTecnologiasUsadas{
      height: 24vh;
    }
    #collapseInfoAcercaDe{
      height: 30vh;
    }
    /* Show.jsx */
    #containerControlsCards{
      height: 27vh!important;
    }
    #wrapperControlsCards{
      height: 165vh!important;
    }
    #contenedorCards > .card{
      width: 30vw;
      height: 35vh!important;
    }
    .card-img-top-custom{
      width: 22vw!important;
    }
    /* Equip.jsx */
    .width-95 > .col-3{
      width: 35%;
    }
    .width-95 > .col-9{
      width: 60%;
    }
    #contenedorBtnVolver{
      margin-left: 3vw;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      width: 35vw;
      height: 38vh;
    }
    #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
      width: 24vw!important;
      height: 15vh!important;
    }
}
@media (height:720px) and (width:540px){
    /* Home.jsx */
    #containerCardsHome > .card{
      height: 65vh;
    }
    .logos-tecnologias{
      width: 45px;
      height: 45px;
    }
    .logo-extrawidth{
      width: 100px;
    }
    /* Show.jsx */
    #containerControlsCards{
      height: max-content!important;
    }
    #contenedorCards > .card{
      height: 63vh!important;
    }
    .card-img-top-custom{
      width: 30vw!important;
      height: 25vh!important;
    }
    /* Create.jsx */
    #colFormularioCrear{
      margin-left: 0.5vw!important;
    }
    /* Equip.jsx */
    #contenedorCards{
      margin-top: 2vh;
    }
    #contenedorBtnVolver{
      margin-right: 15vw;
    }
}
@media (height:653px) and (width:280px){
    footer{
      height: 8vh;
    }
    /* Home.jsx */
    .text-header, .text-header2 {
      font-size: 30px;
    }
    .header-text > p{
      bottom: 12vh;
    }
    #containerCardsHome > .card{
      height: 75vh;
    }
    #containerCardsHome > .card .card-img-top{
      width: 78vw;
      height: 30vh;
    }
    #collapseInfoAcercaDe{
      height: 90vh;
    }
    #contenedorTecnologiasUsadas{
      width: 28vw;
      height: 80vh;
    }
    #collapseInfoAcercaDe h4{
      font-size: 12px!important;
    }
    .logos-tecnologias{
      width: 55px;
      height: 45px;
    }
    .logo-extrawidth{
      width: 80px;
    }
    /* Show.jsx */
    #containerControlsCards{
      margin-left: 10vw;
      height: max-content!important;
    }
    #contenedorCards > .card{
      height: 70vh!important;
    }
    .card-img-top-custom{
      width: 55vw!important;
      height: 25vh!important;
    }
    #contenedorPaginacion > p{
      text-align: center;
    }
    #contenedorPaginacion > .btn{
      height: 7vh;
    }
    /* Equip.jsx */
    #contenedorCards{
      margin-top: 2vh;
      margin-left: 7vw;
    }
    #contenedorBtnVolver{
      margin-right: 15vw;
    }
    /* Edit.jsx */
    #contenedorCardEdit > .card{
      height: 70vh!important;
    }
}