/*------------- SECCION RESPONSIVE - MEDIA QUERIES -------------*/

/* ---------------- HOME.JSX ---------------- */
@media screen and (max-width:1440px){
  #containerCardsHome > .card{
    width: 30vw;
  }
  #buscadorInput{
    width: 13vw;
    font-size: 14px;
  }
  #contenedorCards{
    gap: 1rem!important;
  }
  #contenedorCards > .card{
    width: 22vw;
    height: 46vh;    
  }
  .card-img-top-custom{
    width: 12vw!important;
    height: 19vh!important;
  }
}
@media screen and (max-width:1250px){
  #containerCardsHome{
    gap: 2vw!important;
  }
  #collapseInfoAcercaDe{
    height: 46vh;
  }
  #contenedorTecnologiasUsadas{
    height: 35vh;
  }
}
@media screen and (max-width:1024px){
  .text-header, .text-header2{
    font-size: 55px;
  }
  #containerCardsHome{
    gap: 2vw!important;
  }
  #containerCardsHome > .card{
    width: 30vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 19rem;
    height: 15rem;
  }
  #containerCardsHome > .card h3{
    font-size: 23px!important;
  }
  #botonTarjetas{
    padding-left: 4.8vw;
    padding-right: 4.8vw;
  }
  #collapseInfoAcercaDe{
    height: 40vw;
  }
  #contenedorTecnologiasUsadas{
    height: 39vh;
  }
  #collapseInfoAcercaDe{
    height: 50vh;
  }
}
@media screen and (max-width:990px){
  .text-header{
    bottom: 30vh;
    transform: translateX(-50%);
  }
  .text-header2{
    bottom: 14vh;
    transform: translateX(-50%);
  }
  #containerCardsHome{
    gap: 1vw!important;
  }
  #containerCardsHome > .card{
    width: 60vw;
    height: 65vh;
  }
  #containerCardsHome > .card .card-img-top{
    width: 14.6rem;
    height: 11rem;
  }
  #collapseInfoAcercaDe{
    height: 47vh;
  }
  #contenedorTecnologiasUsadas{
    margin-top: 3vw;
    height: 39vh;
  }
  .logos-tecnologias{
    width: 60px;
    height: 60px;
  }
  .logo-extrawidth{
    width: 130px;
  }
}
@media screen and (max-width:768px){
  .navbar > .container-fluid{
    margin-left: 1rem!important;
  }
  #contenedorLogoReactNavbar{
    position: absolute;
    top: 2.2vh;
    left: 48vw;
  }
  #contenedorLogoReactNavbar > img{
    margin-right: 0px!important;
  }
  .show{
    display: flex;
    justify-content: center;
  }
  #containerCardsHome > .card h3{
    font-size: 19px!important;
  }
  #containerCardsHome > .card .card-text{
    font-size: 14px!important;
  }
  #containerCardsHome > .card{
    width: 70vw;
    height: 65vh;
  }
  #containerCardsHome{
    gap: 0.5vw!important;
  }
  #containerCardsHome > .card .card-img-top{
    width: 14.2rem;
    height: 13rem;
  }
  #botonTarjetas{
    padding-left: 5.7vw;
  }
  #containerInfoAcercaDeText{
    padding-top: 6vh;
  }
  #contenedorTecnologiasUsadas{
    height: 36vh;
  }
}
@media screen and (max-width:695px){
  #containerInfoAcercaDeText{
    padding-top: 2vh;
    font-size: 15px;
  }
}
@media screen and (max-width:640px){
  .text-header, .text-header2{
    font-size: 53px;
    transform: translateX(-60%);
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #containerCardsHome > .card{
    width: 55vw;
    height: 55vh;
  }
  #botonTarjetas{
    padding-left: 8vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 21.5rem;
    height: 15rem;
  }
  #collapseInfoAcercaDe{
    height: 50vh;
  }
  #contenedorTecnologiasUsadas{
    height: 36vh;
  }
  .logos-tecnologias{
    width: 55px;
    height: 55px;
  }
  .logo-extrawidth{
    width: 120px;
    height: 90px;
  }
}
@media screen and (max-width:570px){
  .text-header, .text-header2{
    font-size: 37px;
    transform: translateX(-62%);
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #botonTarjetas{
    padding-left: 12vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 17rem;
    height: 15rem;
  }
  .logo-extrawidth{
    width: 130px;
    height: 95px;
  }
}
@media screen and (max-width:500px){
  #containerInfoAcercaDeText{
    font-size: 14px;
  }
  #contenedorTecnologiasUsadas{
    height: 40vh;
  }
  .logo-extrawidth{
    width: 100px;
    height: 80px;
  }
}
@media screen and (max-width:425px){
  .text-header, .text-header2{
    font-size: 45px;
    transform: translateX(-43%);
  }
  .text-header{
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  .navbar > .container-fluid{
    margin-left: 0px!important;
  }
  .header-text > p{
    position: absolute;
    width: max-content;
    bottom: 12vh;
    right: 1vw;
  }
  #headerCarousel .carousel-item{
    height: 45vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #containerCardsHome > .card{
    width: 70vw;
    height: 61vh;
  }
  #containerCardsHome > .card .card-img-top{
    width: 69.2vw;
  }
  #botonTarjetas{
    padding-left: 12vw;
    padding-right: 12vw;
  }
  #collapseInfoAcercaDe{
    height: 68vh;
  }
  #containerInfoAcercaDeText{
    font-size: 14px;
  }
  #contenedorTecnologiasUsadas{
    height: 55vh;
  }
  .logos-tecnologias{
    width: 60px;
    height: 60px;
  }
  .logo-extrawidth{
    width: 100px;
  }
  #contenedorFooter{
    margin-left: 0.5vw!important;
    margin-right: 0.5vw!important;
  }
  #contenedorFooter, #contenedorLogoTextoFooter > p{
    font-size: 14px;
  }
}
@media screen and (max-width:375px){
  .text-header, .text-header2{
    font-size: 37px;
    transform: translateX(-44%);
  }
  #contenedorLogoReactNavbar{
    left: 43.4vw;
  }
  #containerCardsHome > .card{
    width: 68vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 15.8rem;
  }
  .logo-extrawidth{
    width: 80px;
    height: 50px;
  }
  #containerInfoAcercaDeText{
    padding-top: 2vh;
    font-size: 13px;
  }
  #collapseInfoAcercaDe{
    height: 61vh;
  }
  #contenedorTecnologiasUsadas{
    height: 50vh;
  }
}
@media screen and (max-width:360px){
  .text-header, .text-header2{
    .wrapper{
      padding-right: 10px;
    }
  }
}
@media screen and (max-width:320px){
  .header-text > p{
    bottom: 15vh;
    right: auto;
  }
  #contenedorLogoReactNavbar{
    left: 42.5vw;
  }
  #containerCardsHome > .card{
    width: 80vw;
  }
  #botonTarjetas{
    padding-left: 15vw;
    padding-right: 15vw;
  }
  #collapseInfoAcercaDe{
    height: 73vh;
  }
  #containerInfoAcercaDeText a > button {
    margin-left: 10px!important;
  }
  #contenedorTecnologiasUsadas{
    width: 25vw;
    height: 65vh;
  }
  .logos-tecnologias{
    width: 55px;
    height: 55px;
  }
  .logo-extrawidth{
    width: 75px;
    height: 50px;
  }
  #collapseInfoAcercaDe h4{
    margin-left: 8px;
    font-size: 14px!important;
    text-align: center;
    font-weight: 500!important;
  }
  #contenedorLogoTextoFooter > p{
    display: none;
  }
}

/* ---------------- SHOW.JSX ---------------- */
@media (min-height: 500px){
  .text-header, .text-header2{
    bottom: 5vh;
  }
  #containerControlsCards{
    height: 67vh!important;
  }
  #contenedorCards > .card{
    height: 75vh;
  }
}
@media (min-height: 530px){
  .text-header, .text-header2{
    bottom: 12vh;
  }
  #containerControlsCards{
    height: 60vh!important;
  }
  #contenedorCards > .card{
    height: 75vh;
  }
}
@media (min-height: 550px){
  .text-header, .text-header2{
    bottom: 12vh;
  }
  #containerControlsCards{
    height: 53vh!important;
  }
  #contenedorCards > .card{
    height: 65vh;
  }
  .card-img-top-custom{
    width: 9vw!important;
    height: 23vh!important;
  }
}
@media (min-height: 600px) {
  .text-header, .text-header2{
    bottom: 15vh;
  }
  #containerControlsCards{
    height: 50vh!important;
  }
  #contenedorCards > .card{
    height: 59vh!important;
  }
  #wrapperControlsCards{
    height: 170vh!important;
  }
  #contenedorCards{
    gap: 10px!important;
  }
  .card-img-top-custom{
    width: 12vw!important;
    height: 20vh!important;
  }
}
@media (min-height: 650px) {
  #containerControlsCards{
    height: 47vh!important;
  }
  #contenedorCards > .card{
    height: 55vh!important;
  }
  #wrapperControlsCards{
    height: 165vh!important;
  }
  #contenedorCards{
    gap: 10px!important;
  }
}
@media (min-height: 700px) {
  #containerControlsCards{
    height: 42vh!important;
  }
  #contenedorCards > .card{
    height: 48vh!important;
  }
  #wrapperControlsCards{
    height: 145vh!important;
  }
  #contenedorCards{
    gap: 15px!important;
  }
  .card-img-top-custom{
    width: 10vw!important;
    height: 18vh!important;
  }
}
@media (min-height: 720px) {
  #contenedorCards > .card{
    height: 55vh!important;
  }
  #wrapperControlsCards{
    height: 145vh!important;
  }
  #contenedorCards{
    gap: 15px!important;
  }
  .card-img-top-custom{
    width: 10vw!important;
    height: 18vh!important;
  }
}
@media (min-height: 768px) {
  #containerControlsCards{
    height: 42vh!important;
  }
  #contenedorCards > .card{
    height: 48vh!important;
  }
  #wrapperControlsCards{
    height: 145vh!important;
  }
  #contenedorCards{
    gap: 10px!important;
  }
  .card-img-top-custom{
    width: 10vw!important;
    height: 18vh!important;
  }
}
@media (min-height: 800px) {
  #containerControlsCards{
    height: 36vh!important;
  }
  #contenedorCards > .card{
    height: 45vh!important;
  }
  #wrapperControlsCards{
    height: 130vh!important;
  }
  #contenedorCards{
    gap: 15px!important;
    height: max-content;
  }
}
@media (min-height: 801px) and (max-height:900px) {
  #containerControlsCards{
    height: 40vh!important;
  }
  #contenedorCards > .card{
    height: 45vh!important;
  }
  #wrapperControlsCards{
    height: 130vh!important;
  }
  #contenedorCards{
    gap: 15px!important;
    height: max-content;
  }
}
@media screen and (max-width:1440px) {
  .text-header, .text-header2{
    bottom: 20vh;
  }
}
@media screen and (max-width:1024px) {
  .text-header, .text-header2{
    bottom: 22vh;
  }
  #contenedorCards > .card{
    width: 28vw;
    height: 50vh!important;
  }
  .card-img-top-custom{
    width: 14vw!important;
    height: 18vh!important;
  }
  #containerControlsCards{
    height: 41vh!important;
  }
  #contenedorCards{
    width: 65%;
  }
  #colControlCards{
    width: 35%;
  }
  #buscadorInput{
    width: 18vw;
  }
  #wrapperControlsCards{
    height: 280vh!important;
  }
  #contenedorPaginacionRelleno{
    width: 35%;
  }
  #contenedorPaginacion{
    width: 65%;
  }
}
@media screen and (max-width:990px) {
  .text-header{
    bottom: 30vh;
  }
  .text-header2{
    bottom: 18vh;
  }
}
@media screen and (max-width:800px) {
  #contenedorCards > .card{
    width: 29vw;
    height: 53vh!important;
  }
  .card-img-top-custom{
    width: 20vw!important;
  }
}
@media screen and (max-width:768px) {
  .text-header{
    bottom: 30vh;
  }
  .text-header2{
    bottom: 18vh;
  }
  #contenedorCards > .card{
    width: 35vw;
    height: 47vh!important;
  }
  .card-img-top-custom{
    width: 18vw!important;
  }
  #contenedorCards{
    width: 60%;
  }
  #colControlCards{
    width: 40%;
  }
  #buscadorInput{
    width: 18vw;
  }
  #wrapperControlsCards{
    height: 560vh!important;
  }
  #contenedorPaginacion{
    width: 60%;
    font-size: 13px;
    margin-top: 3vh;
  }
  #contenedorPaginacion > .btn {
    font-size: 13px;
    height: 5vh;
    padding: 3px;
  }
  #contenedorPaginacionRelleno{
    width: 40%;
  }
}
@media screen and (max-width:680px) {
  #contenedorCards > .card{
    width: 40vw;
    height: 47vh!important;
  }
  .card-img-top-custom{
    width: 23vw!important;
  }
  #contenedorCards{
    width: 50%;
  }
  #colControlCards{
    width: 50%;
  }
  #contenedorPaginacionRelleno{
    width: 0%;
  }
  #contenedorPaginacion{
    width: 100%;
    margin-left: 5vw;
  }
}
@media screen and (max-width:550px) {
  #colControlCards{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #containerControlsCards{
    position: initial;
    width: 80vw;
    margin-left: 9vw;
  }
  #buscadorInput{
    width: 35vw;
  }
  .divisor{
    width: 50vw;
  }
  #wrapperControlsCards{
    height: auto!important;
    margin-bottom: 3vh;
  }
  #contenedorCards{
    width: 100%;
    gap: 5px!important;
    margin-left: 4.5vw;
  }
  #contenedorCards > .card{
    width: 44vw;
    height: 50vh!important;
  }
  .card-title{
    font-size: 16px!important;
  }
  .card-img-top-custom{
    width: 23vw!important;
    height: 20vh!important;
  }
  .btn-warning, .btn-danger{
    padding: 5px;
  }
}
@media screen and (max-width:500px) {
  #buscadorInput{
    width: 50vw;
  }
  #contenedorCards > .card{
    width: 70vw;
    height: 50vh!important;
  }
  .card-img-top-custom{
    width: 35vw!important;
  }
}
@media screen and (max-width:320px) {
  #buscadorInput{
    width: 55vw;
  }
  #contenedorCards > .card{
    width: 80vw;
  }
  .card-img-top-custom{
    width: 45vw!important;
  }
  #contenedorPaginacion > .btn {
    font-size: 11px;
    height: 6vh;
    padding: 5px;
  }
  #contenedorPaginacion > p{
    font-size: 11px;
    width: 15vw;
    margin-bottom: 0px;
    margin-top: 1vh;
  }
}
/* EQUIP.JSX */
@media screen and (max-width:425px) {
  #contenedorNoEncontrado > p{
    text-align: center;
  }
}
/* ---------------- CREATE.JSX ---------------- */
@media screen and (max-width:425px) {
  #contenedorTituloCreate > h2, #contenedorForm > h2{
    font-size: 20px!important;
  }
  #contenedorFormularioCrear{
    padding-top: 0.5rem!important;
  }
  #colFormularioCrear{
    margin-left: 0px!important;
  }
  #contenedorForm{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
  }
  #contenedorInputsLabels > .col-4{
    padding-left: 0px!important;
    padding-right: 0px!important;
    font-size: 14px;
    gap: 1.9rem!important;
  }
  #contenedorInputsLabels > .col-8{
    gap: 1.25rem!important;
  }
}
@media screen and (max-width:375px) {
  #contenedorFormularioCrear{
    margin-left: 2vw!important;
  }
  #colFormularioCrear{
    margin-left: 5vw!important;
  }
}

/* ---------------- EDIT.JSX ---------------- */
@media screen and (max-width:1440px) {
  #contenedorCardEdit > .card{
    width: 24vw;
    height: 60vh;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 14vw!important;
    height: 25vh!important;
  }
}
@media screen and (max-width:1024px) {
  #colFormularioEdit{
    margin-left: 6vw;
    width: 50%;
  }
  #colCardEdit{
    width: 50%;
  }
  #contenedorCardEdit > .card{
    width: 30vw;
    height: 58vh;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 18vw!important;
  }
}
@media screen and (max-width:890px) {
  #colFormularioEdit{
    margin-left: 6vw;
    width: 50%;
  }
  #colCardEdit{
    width: 50%;
  }
  #contenedorCardEdit > .card{
    width: 33vw;
    height: 62vh;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 23vw!important;
  }
}
@media screen and (max-width:768px) {
  #contenedorCardEdit > .card{
    width: 35vw;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 24vw!important;
  }
  #contenedorForm{
    width: max-content;
  }
  #contenedorForm > h2{
    text-align: center!important;
    margin-bottom: 3vh!important;
  }
}
@media screen and (max-width:700px) {
  #colFormularioEdit{
    width: 100%;
  }
  #colCardEdit{
    width: 100%;
    margin-left: 6vw;
  }
  #contenedorCardEdit > .card{
    width: 45vw;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 30vw!important;
  }
}
@media screen and (max-width:590px) {
  #contenedorCardEdit > .card{
    width: 50vw!important;
    height: 62vh!important;
  }
}
@media screen and (max-width:500px) {
  #colCardEdit{
    margin-left: 8vw;
  }
  #contenedorCardEdit > .card{
    width: 60vw!important;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 40vw!important;
  }
}
@media screen and (max-width:400px) {
  #contenedorCardEdit > .card{
    width: 70vw!important;
    height: 58vh!important;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 50vw!important;
  }
}
@media screen and (max-width:350px) {  
  #contenedorCardEdit > .card{
    width: 90vw!important;
  }
  #contenedorCardEdit > .card > .card-img-container > .card-img-top-custom{
    width: 70vw!important;
  }
}