/*------------- Show -------------*/
#contenedorCards .card-size{
  width: 18vw;
  height: 425px;
}
#contenedorCards .card-img-container{
  display: inline-block;
  overflow: hidden;
}
#contenedorCards .card-img-top-custom{  
  width: max-content!important;
  height: 180px!important;
  display: block;
  transition: all .45s;
}
#contenedorCards .card-img-top-custom:hover{
  transform: scale(1.10);
}
#contenedorCards, #containerControlsCards{
  padding-left: 0px;
  padding-right: 0px;
}
#wrapperControlsCards{
  height: 1400px;
}
#containerControlsCards{
  position: sticky;
  top: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 340px;
  margin-left: 2vw;
  padding-top: 17px;
  padding-bottom: 35px;
  padding-left: 2vw;
  padding-right: 2vw;
  border-style: solid;
  border-width: 1px;
  border-color: #adadad;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.width-95{
  width: 95%!important;
}
#contenedorPaginacion{
  display: flex;
  margin-top: 42px;
  gap: 10vw;
  justify-content: center;
}
#contenedorBtnVolver{
  display: flex;
  margin-top: 35px;
  justify-content: center;
  padding-bottom: 35px;
}
#contenedorCheckBoxOrdenar{
  margin-top: 10px;
}

/*------------- Card Show -------------*/
.btn-modificar:hover{
  background-color: #dfa803!important;
}