@import url('https://fonts.cdnfonts.com/css/yanone-kaffeesatz');

#headerCarousel{
  filter: brightness(40%);
}
.carousel-item{
  height: 55vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-img-1{
  background-image: url("./assets/equipos-medicos.jpg");
}
.carousel-img-2{
  background-image: url("./assets/equipos-medicos2.jpg");
}
.carousel-img-3{
  background-image: url("./assets/equipos-medicos3.jpg");
}
.header-text{
  position: absolute;
  top: 60vh;
  left: 43.7vw;
  color: white;
}
.rotation-effect{
  animation: rotate-center infinite 20s linear;
}
@keyframes rotate-center{
    from {
      transform:rotate(0)
    }
    to {
      transform:rotate(360deg)
    }
}
main{
  background-image: url('./assets/bg-repeat2.png');
  background-repeat: repeat;
  background-size: 4vw;
}
#mainH2{
  border-style: solid;
  border-color: #5e6670;
  border-radius: 8px;
  padding: 5px;
}
.txtFooterCaC{
  transition: all 0.5s;
}
.txtFooterCaC:hover{
  color: white !important;
}
footer{
  width: 100%;
  height: 7vh;
  padding-top: 0.5vh;
  justify-content: space-between;
  padding-left: 1vw;
  padding-right: 1vw;
}
#div-row2-maingrid{
  background-color: #353a40;
}
#imgGridMain{
  width: 60rem;
  height: 25rem;
}
.divisor{
  width: 17vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 1px solid #cfcfcf;
}

/*------------- HeaderText -------------*/
.text-header {
	font-family: "Yanone Kaffeesatz";
  font-weight: 300;
	font-size: 75px;
	display: flex;
	position: absolute;
	bottom: 20vh;
	left: 50%;
  transform: translateX(-48%);
	user-select: none;

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;  
    .letter {
      transition: ease-out 1s;
      transform: translateY(15%);
    }
    .shadow-custom {
      transform: scale(1, -1);
      margin-top: -4vh;
      color: #9999993f;
      transition: ease-in 0.5s, ease-out 0.5s;
    }
    &:hover{
      .letter {
        transform: translateY(-3%);
      }
      .shadow {
        opacity: 0;
        transform: translateY(-3%);
      }
    }
  }
}

/*------------- Home -------------*/
#containerCardsHome > .card{
  width: 23vw;
  height: 65vh;
}
#containerCardsHome .card-body{
  padding: 0.7rem;
}
.card-img-container{
  display: inline-block;
  overflow: hidden;
}
.card-img-container > img{
  display: block;
  transition: all .45s;
}
.card-img-container > img:hover{
  transform: scale(1.15);
}
.card-img-top{
  width: 25rem;
  height: 20rem;
}
#botonTarjetas{
  background-color: #005bb1;
  color: white;
  font-weight: 500;
  padding-left: 3vw;
  border-radius: 4px;
}
#botonTarjetas:hover{
  background-color: #1f71be!important;
}
.text-blue{
  color: #005bb1;
  font-size: 17px;
}

/*------------- Home Navegacion -------------*/
#containerNavButtons > a > button{
  border-radius: 8px;
}
#containerNavButtons > a > button:hover{
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}

/*------------- Home Acerca De -------------*/
#contenedorAcercaDe{
  background-color: #2d3136;
  margin-top: 5vh;
  height: 7vh;
}
#contenedorAcercaDeIcon{
  margin-top: 0.60vw;
  border-radius: 25px;
  padding: 0.5rem;
  transition: all 0.2s;
}
#acercaDeIcon{
  width: 25px;
  height: 25px;
}
#contenedorAcercaDeIcon:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
}
#collapseInfoAcercaDe{
  background-color: #2d3136;
  transition: all 0.5s;
}
#containerInfoAcercaDeText{
  padding-top: 8vh;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 40vh;
}
#contenedorTecnologiasUsadas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
  margin-top: 5vh;
  height: 30vh;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 1rem;
}
.logos-tecnologias{
  width: 90px;
  height: 90px;
}
.logo-extrawidth{
  width: 180px;
}
.orange-tooltip, .yellow-tooltip, .green-tooltip{
  --bs-tooltip-color: #25282c;
}
.orange-tooltip{
  --bs-tooltip-bg: #ffa713;
}
.purple-tooltip{
  --bs-tooltip-bg: #7809f7;
}
.yellow-tooltip{
  --bs-tooltip-bg: #f0dc4e;
}
.green-tooltip{
  --bs-tooltip-bg: #83cd29;
}
.blue-tooltip{
  --bs-tooltip-bg: #0f6ec7;
}
/*------------- Show -------------*/
.card-size{
  width: 16vw;
  height: 46vh;
}
.card-img-top-custom{  
  width: max-content!important;
  height: 19vh!important;
}
#contenedorCards, #containerControlsCards{
  padding-left: 0px;
  padding-right: 0px;
}
#containerControlsCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  margin-left: 2vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  border-style: solid;
  border-width: 1px;
  border-color: #adadad;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.width-95{
  width: 95%!important;
}
#contenedorPaginacion{
  display: flex;
  margin-top: 5vh;
  gap: 10vw;
  justify-content: center;
}
#contenedorBtnVolver{
  display: flex;
  margin-top: 2vh;
  justify-content: center;
  margin-left: 13.65vw;
}
#contenedorOpcionesTabla{
  gap: 35vw;
}
#contenedorCheckBoxOrdenar{
  margin-top: 1vh;
}

/*------------- Card Show -------------*/
.btn-modificar:hover{
  background-color: #dfa803!important;
}

/*------------- Create -------------*/
#contenedorForm{
  margin-top: 2vh;
  margin-bottom: 4vh;
  padding-bottom: 4vh;
  background-color: white;
}
.container{
  display: flex;
  align-items:center;
  justify-content: center;
}

/*------------- Edit -------------*/
#formEdit > div > input{
  width: 18vw;
}

/*------------- Buscador -------------*/
#buscadorContainer {
  display: flex;
  justify-content: center;
  gap: 1vh;
}
#buscadorInput{
  height: 35px;
  border-radius: 10px;
  padding:  5px 30px 5px 10px;
}