/*------------- SECCION RESPONSIVE - MEDIA QUERIES -------------*/
@media screen and (max-width:1440px){
  #containerCardsHome > .card{
    width: 30vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 20.6rem;
    height: 18rem;
  }
}
@media screen and (max-width:1250px){
  #containerCardsHome{
    gap: 2vw!important;
  }
  #collapseInfoAcercaDe{
    height: 46vh;
  }
  #contenedorTecnologiasUsadas{
    height: 35vh;
  }
}
@media screen and (max-width:1024px){
  .text-header, .text-header2{
    font-size: 55px;
  }
  #containerCardsHome{
    gap: 2vw!important;
  }
  #containerCardsHome > .card{
    width: 30vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 19rem;
    height: 15rem;
  }
  #containerCardsHome > .card h3{
    font-size: 23px!important;
  }
  #botonTarjetas{
    padding-left: 4.8vw;
  }
  #collapseInfoAcercaDe{
    height: 40vw;
  }
  #contenedorTecnologiasUsadas{
    height: 39vh;
  }
  #collapseInfoAcercaDe{
    height: 50vh;
  }
}
@media screen and (max-width:990px){
  .text-header{
    bottom: 30vh;
    transform: translateX(-50%);
  }
  .text-header2{
    bottom: 14vh;
    transform: translateX(-50%);
  }
  #containerCardsHome{
    gap: 1vw!important;
  }
  #containerCardsHome > .card{
    width: 60vw;
    height: 65vh;
  }
  #containerCardsHome > .card .card-img-top{
    width: 14.6rem;
    height: 11rem;
  }
  #collapseInfoAcercaDe{
    height: 47vh;
  }
  #contenedorTecnologiasUsadas{
    margin-top: 3vw;
    height: 39vh;
  }
  .logos-tecnologias{
    width: 60px;
    height: 60px;
  }
  .logo-extrawidth{
    width: 130px;
  }
}
@media screen and (max-width:768px){
  .navbar > .container-fluid{
    margin-left: 1rem!important;
  }
  #contenedorLogoReactNavbar{
    position: absolute;
    top: 2.2vh;
    left: 48vw;
  }
  #contenedorLogoReactNavbar > img{
    margin-right: 0px!important;
  }
  .show{
    display: flex;
    justify-content: center;
  }
  #containerCardsHome > .card h3{
    font-size: 19px!important;
  }
  #containerCardsHome > .card .card-text{
    font-size: 14px!important;
  }
  #containerCardsHome > .card{
    width: 70vw;
    height: 65vh;
  }
  #containerCardsHome{
    gap: 0.5vw!important;
  }
  #containerCardsHome > .card .card-img-top{
    width: 11rem;
    height: 10rem;
  }
  #botonTarjetas{
    padding-left: 5.7vw;
  }
  #containerInfoAcercaDeText{
    padding-top: 6vh;
  }
  #contenedorTecnologiasUsadas{
    height: 36vh;
  }
}
@media screen and (max-width:695px){
  #containerInfoAcercaDeText{
    padding-top: 2vh;
    font-size: 15px;
  }
}
@media screen and (max-width:640px){
  .text-header, .text-header2{
    font-size: 53px;
    transform: translateX(-60%);
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #containerCardsHome > .card{
    width: 55vw;
    height: 55vh;
  }
  #botonTarjetas{
    padding-left: 8vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 21.5rem;
    height: 15rem;
  }
  #collapseInfoAcercaDe{
    height: 50vh;
  }
  #contenedorTecnologiasUsadas{
    height: 36vh;
  }
  .logos-tecnologias{
    width: 55px;
    height: 55px;
  }
  .logo-extrawidth{
    width: 120px;
    height: 90px;
  }
}
@media screen and (max-width:570px){
  .text-header, .text-header2{
    font-size: 37px;
    transform: translateX(-62%);
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #botonTarjetas{
    padding-left: 12vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 17rem;
    height: 15rem;
  }
  .logo-extrawidth{
    width: 130px;
    height: 95px;
  }
}
@media screen and (max-width:500px){
  #containerInfoAcercaDeText{
    font-size: 14px;
  }
  #contenedorTecnologiasUsadas{
    height: 40vh;
  }
  .logo-extrawidth{
    width: 100px;
    height: 80px;
  }
}
@media screen and (max-width:425px){
  .text-header, .text-header2{
    font-size: 45px;
    transform: translateX(-43%);
  }
  .text-header{
    bottom: 30vh;
  }
  .text-header2{
    bottom: 20vh;
  }
  .navbar > .container-fluid{
    margin-left: 0px!important;
  }
  .header-text > p{
    position: absolute;
    width: max-content;
    bottom: 12vh;
    right: 1vw;
  }
  #headerCarousel .carousel-item{
    height: 45vh;
  }
  #containerCardsHome{
    flex-direction: column;
    gap: 2vh!important;
  }
  #containerCardsHome > .card{
    width: 60vw;
    height: 57vh;
  }
  #botonTarjetas{
    padding-left: 12vw;
  }
  #collapseInfoAcercaDe{
    height: 68vh;
  }
  #containerInfoAcercaDeText{
    font-size: 14px;
  }
  #contenedorTecnologiasUsadas{
    height: 55vh;
  }
  .logos-tecnologias{
    width: 60px;
    height: 60px;
  }
  .logo-extrawidth{
    width: 100px;
  }
  #contenedorFooter{
    margin-left: 0.5vw!important;
    margin-right: 0.5vw!important;
  }
  #contenedorFooter, #contenedorLogoTextoFooter > p{
    font-size: 14px;
  }
}
@media screen and (max-width:375px){
  .text-header, .text-header2{
    font-size: 37px;
    transform: translateX(-44%);
  }
  #contenedorLogoReactNavbar{
    left: 43.4vw;
  }
  #containerCardsHome > .card{
    width: 68vw;
  }
  #containerCardsHome > .card .card-img-top{
    width: 15.8rem;
  }
  .logo-extrawidth{
    width: 80px;
    height: 50px;
  }
  #containerInfoAcercaDeText{
    padding-top: 2vh;
    font-size: 13px;
  }
  #collapseInfoAcercaDe{
    height: 61vh;
  }
  #contenedorTecnologiasUsadas{
    height: 50vh;
  }
}
@media screen and (max-width:320px){
  .text-header, .text-header2{
    .wrapper{
      padding-left: 10px;
    }
  }
  .header-text > p{
    bottom: 15vh;
    right: auto;
  }
  #contenedorLogoReactNavbar{
    left: 42.5vw;
  }
  #containerCardsHome > .card{
    width: 80vw;
  }
  #botonTarjetas{
    padding-left: 15vw;
  }
  #collapseInfoAcercaDe{
    height: 73vh;
  }
  #containerInfoAcercaDeText a > button {
    margin-left: 10px!important;
  }
  #contenedorTecnologiasUsadas{
    width: 25vw;
    height: 65vh;
  }
  .logos-tecnologias{
    width: 55px;
    height: 55px;
  }
  .logo-extrawidth{
    width: 75px;
    height: 50px;
  }
  #collapseInfoAcercaDe h4{
    margin-left: 8px;
    font-size: 14px!important;
    text-align: center;
    font-weight: 500!important;
  }
  #contenedorLogoTextoFooter > p{
    display: none;
  }
}